.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    background-color: #333;
    border-radius: 5px;
}

.span-2 {
    grid-column-end: span 1;
    grid-row-end: span ;
}

.span-3 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}