* {
    margin: 0;
    padding: 0;
    border: 0;
}
#conteneur
{
    height: 500px;
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    
}

.big {
    width: 200px;
    height: 100%;
    background-color: tomato;
}
.medium {
    width: 200px;
    height: 250px;
    background-color: olive;
}
.small {
    width: 200px;
    height: 150px;
    background-color: blue;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo {
    background-color: lawngreen;
    height: 300px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: blue;
    height: 160px;
    padding: 20px;
}

h4 {
    display: flex;
    justify-self: start;
}
